*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
}
body{
    background:linear-gradient(-120deg,#e0c3fc 0%,#8ec5fc 100%);
}
.container{
    width:100%; height:100vh;
    box-shadow:0 0 35px #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
.container-text, .container-img{
    width:50%; 
    position:relative;
    display: flex;
}
.container-text{
    display: flex;
    flex-direction: column;
    max-width:600px;
    min-width: 100px;
}
.lis-items{
    width:100%;
    height:15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lis-items ul{
    margin-left:40px;
}
.lis-items ul li a{
    text-decoration: none;
    color:#000;
}
.lis-items ul li a:hover{
    color:rgb(63, 61, 61);
    border-bottom:1px solid #fff;
}
.container-text h1{
    font-size: 3em;
    margin-bottom:20px;
    font-weight: 700;
}
.container-img{
    min-width:300px;
    max-width:380px;
    display: flex;
    flex-direction: column;
}
/*ESCUDO, POKEBALL, ESTRELLA*/
.escudo{
    width:35vh; height:35vh;
    position:absolute;
    top:-40px; left:-40px;
}
.pokeball{
    width:40vh; height:40vh;
    position:absolute;
    top:30vh; left:-60px;
}
.estrella{
    width:40vh; height:40vh;
    position:absolute;
    top:65vh; left:-50px;
    transform:rotate(20deg);
}
/**/

i{
    margin-left:20px;
    color:#28A3D9;
}
.img-header{
    width:250px; height:250px;
    border-radius:50%;
    overflow: hidden;
    margin: 0 auto;
    
}
.img-header img{
    width:100%; height:100%;
    object-fit: cover;
}
.img-header i{
    display: none;
}
.kirby{
    width:25vh; height:25vh;
    margin:0 auto;
    margin-bottom:-30px;
    z-index:50;
}

.introduction{
    width:100%;
    border-bottom:2px solid #fff;
    font-size:3em;
    text-align: center;
}
.container-introduction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:70%;
    max-width:800px;
    padding:20px;
}
.container-introduction p{
    text-align: justify;
    font-size: 1em;
}
.objetivos{
    margin-right:60px;
    min-width: 250px;
    max-width: 330px;
    margin-bottom:30px;
}
.metas{
    min-width: 250px;
    max-width: 330px;
}
.objetivos h3,.metas h3{
    margin-bottom:10px;
    border-bottom: 1px solid #fff;
    font-size: 2em;
}
.metas li{
    margin-left:30px;
}
/*NUMBERS*/
.numbers{
    font-size: 2em;
    padding:30px;
    padding-left:40px;
    padding-right:40px;
    border:1px solid #fff;
    border-radius:50%;
    position:absolute;
    top:20px; left:20px;
    transform:rotate(-15deg);
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}

/*CONTENIDOOO*/

.container-section{
    display:flex;
    flex-wrap:wrap;
    width:70%;
    position:relative;
}
.text{
    padding:30px;
    min-width:100px;
    max-width: 450px;
}
.text h3{
    font-size:2em;
    margin-bottom:10px;
    border-bottom:1px solid #fff;
    padding-bottom:2px;
}
.text p{
    font-size:1.1em;
    line-height: 23px;
    text-align: justify;
}
.text .ul{
    margin-top:20px;
}
.text ul li ul li{
    margin-left:15px;
    list-style: disc;
}

.img{
    width:40%;
    padding:30px;
    min-width:330px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width:270px; height:270px;
}
#js{
    width:250px; height:auto;
}
h4{
    font-size:5em;
    text-align: center;
}
#text{
    width: 100%;
    max-width: 100%;
}

/*generadores y tips*/

.container-tips{
    width:80%; 
    min-width:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-tips div{
    width:270px;
    border:1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.container-tips div img{
    width:100%; height:150px;
    object-fit: cover;
    margin-bottom:10px;
}
.container-tips p{
    font-size: 1em;
    border-bottom:1px solid #fff;
    display: inline-block;
    margin-bottom:10px;
}
.container-tips div button{
    border-radius:20px;
    padding:5px 10px;
    cursor: pointer;
    border:1px solid #000;
    display: block;
    margin-bottom:7px;
}
.container-tips div button:hover a{
    color:rgb(88, 84, 84);
}
.container-tips div button a{
    text-decoration: none;
    color:#000;
}
/*BOTONES*/

.buttons{
    max-width:900px;
    min-height: 300px;
    min-width: 100px;
    display: flex;
    flex-wrap: wrap;
}
.buttons button{
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    border-radius:10px;
    padding:5px ;
    cursor: pointer;
    margin:30px;
    width:210px;
    transition: all .3s;
    border:1px solid #000;
}
.buttons button a{
    text-decoration: none;
    color:#000;
}
.buttons button:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 1px #fff;
}
.buttons .redes{
    width:50px; height:50px;
    margin-right: 20px;
    border-radius:50%;
    overflow: hidden;
}
.buttons .redes img{
    width:100%; height: 100%;
    object-fit: cover;
}
h6{
    font-size: 1.1em;
}
.buttons button:hover h6{
    color:rgb(88, 84, 84);
}
@media(max-width:1050px){
    .container{
        height: auto;
    }
    .objetivos, .metas{
        margin:0 auto;
        margin-top:20px;
    }
    .container-text{
        width:100%;
    }
    h4{
        margin-top:20px;
        font-size: 3em;
    }
    .lis-items{
        display: none;
    }
}
@media(max-width:460px) {
    .container:nth-child(1){
        padding-top:10em;
    }
    .container{
        height: auto;
    }
    .img-header{
        width:250px; height:250px;
        border-radius:0;
    }
    .img-header i{
        display: block;
        font-size:15em;
        margin-left:30px;
        margin-top:10px;
    }
    .kirby, .codes{
        display: none;
    }
    .container-introduction{
        width:100%;
        margin:30px;
    }
    .objetivos{
        margin-bottom:30px;
    }
    .container-number{
      position:relative;
      margin-bottom:20px;
    }
    .numbers{
        width:110px; height:110px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top:0; left:0;
        transform: rotate(0deg);
    }

    .container-section{
        flex-direction: column;
        width:100%;
    }
    .text, .img{
        width:100%;
    }
    h4{
        margin-top:20px;
        font-size: 2em;
    }
    .container-text{
        width:100%;
    }
    .lis-items{
        display: none;
    }
    .buttons {
        justify-content: center;
        align-items: center;
    }
    .buttons{
        height: auto;
    }

    .escudo{
        width:20vh; height:20vh;
        position:absolute;
        top:-20px; left:-20px;
    }
    .pokeball{
        width:25vh; height:25vh;
        position:absolute;
        top:-40px; left:100px;
    }
    .estrella{
        width:30vh; height:30vh;
        position:absolute;
        top:-40px; left:220px;
        transform:rotate(20deg);
    }
}